@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fdfaf1;
  --foreground: #2d5a5e;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-spline-sans);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
